body{
    font-family: 'Noto Sans', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo > h1{
    color: white;
}

.lado-esquerdo > img{
    width: 35vw;
}

.lado-direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-de-login{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 30px;
    box-shadow: 0px 10px 40px #00000056;
}

.caixa-de-login > h1{
    font-size: 3vw;
    color: white;
    font-weight: 800;
    margin: 0;
}

.textos-de-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textos-de-login > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textos-de-login > label{
    color: white;
    margin-bottom: 10px;
}

.textos-de-login > input::placeholder{
    color: white;
}

.botao-iniciar{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 10px 40px;
}